body {
  color: blue;
}

.login-container {
  margin: 20px auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 400px;
  height: 400px;
  text-align: center;
}
